$brand-primary: #3873b3;
$light-color: #b9b9b9;
$dark-color: #838383;
$darker-color: #737373;

$main-heading-color: $darker-color;
$light-heading-color: $light-color;
$section-heading-color: $brand-primary;

$peripheral-color: #e0e0e0;
$text-color: black;

$sheet-background-color: white;
$sheet-shadow-color: rgba(0,0,0,.3);
