@page { margin: 0 }
body { margin: 0 }
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

/** Paper sizes **/
body.A4 .sheet { width: 210mm; height: 296mm }

/** For screen preview **/
@media screen {
  body {
    background: #e0e0e0;
  }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm;
    padding: 10mm
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
  body.A4 { width: 210mm }
}
@page {
  size: A4
}

