@page { margin: 0 }
body { margin: 0 }
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

/** Paper sizes **/
body.A4 .sheet { width: 210mm; height: 296mm }

/** For screen preview **/
@media screen {
  body {
    background: #e0e0e0;
  }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm;
    padding: 10mm
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
  body.A4 { width: 210mm; padding: 10mm; }
}
@page {
  size: A4
}

body {
  background: #e0e0e0;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}
header {
  h1 {
    color: #b9b9b9;
    font-weight: normal;
    text-align: right;
    font-size: 2em;
    border-bottom: 1px solid #b9b9b9;
    margin-bottom: 0;

    .surname {
      color: #737373;
    }
  }
  p {
    color: #838383;
    text-align: right;
    font-style: italic;
  }
}
