@import "variables";

.skillbar {
  -webkit-print-color-adjust: exact;
  background-color: $skillbar-color;
  display: inline-block;
  height: 8px;
  margin: 0 6px;
  transform: skewX(-36deg);
  width: 60px;
}
.skillbar-active {
  background-color: $skillbar-active-color;
  transform: translateX(-50%) scaleX(0);
  transition: transform 200ms ease-in, opacity 400ms ease-in;
  opacity: 0;
  height: 100%;
  display: block;
}
