@import "variables";

.skilldots {
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
}
.skilldot {
  -webkit-print-color-adjust: exact;
  background-color: $skillbar-color;
  display: block;
  float: left;
  height: 8px;
  margin: 0 1px;
  transform: skewX(-36deg);
  width: 12px;
}
.skilldot-active {
  background-color: $skillbar-active-color;
  transition: background-color 200ms ease-in;
}
